@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
}
body {
    background: hsl(212, 45%, 89%);
}
.container {
    display: flex;
    flex-flow: column;
    width: 320px;
    background: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 100px auto;
    padding: 15px;
    box-shadow: 0 9px 18px 0px rgb(216, 216, 216);
}
.img img {
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 20px;
}
.text {
    text-align: center;
}
.text h2 {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: .5px;
    margin-bottom: 15px;
}
.text p {
    font-size: 17px;
    color: hsl(0, 0%, 59%);
    padding-bottom: 25px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }